{% extends 'layout1.html' %} 
{% block title %} 

{% endblock %} 
{% block body %} 
{% block head %} 
<!--Section: Design Block-->
<section>
    <!-- Intro -->
    <div id="intro" class="bg-image vh-100" style="
          background-image: url('https://static.wixstatic.com/media/805a09_7843b7394bac4afb9ccdc7ba20a38f13~mv2_d_2500_1406_s_2.jpg_srz_2500_1406_85_22_0.50_1.20_0.00_jpg_srz');
        ">
      <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);"></div>
    </div>
    <!-- Intro -->
  </section>
  <!--Section: Design Block-->
{% endblock %}
{% endblock %}